
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>@ViewBag.Mensagem</h2>

<h2>@ViewData["Mensagem2"]</h2>

<vc:noticia total="4" noticias-urgentes="true"></vc:noticia>

<img src="~/Kremlin_from_Bolshoy_kamenny_bridge.jpg" asp-append-version="true"/>

<a asp-action="novidades" asp-controller="noticias" asp->Secao de noticiassp</a>
<br />
<email mail-to="matheus"></email>